body {
    background-image: url('poster.png');
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program {
    margin-top: 50px;
    width: 500px;
    background-image: url('program.png');
}

@media screen and (max-width: 700px){
    .program {
        width: 250px;
    }
}